{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Benutzerverwaltung{% endblock %}</h1>
{% endblock %}

{% block content %}
<p></p>
<div class="d-flex justify-content-md-center mb-3">
    <button class="btn btn-primary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#allUsers" aria-expanded="false" aria-controls="allUsers">
        Alle Nutzer anzeigen
    </button>
    <button class="btn btn-secondary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#addUser" aria-expanded="false" aria-controls="addUser">
        Neuen Nutzer hinzufügen
    </button>
</div>

<div class="collapse show" id="allUsers">
    <table class="table">
        <thead>
        <tr>
            <th>Benutzername</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Nutzerberechtigungen</th>
            <th>Optionen</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.given_name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ role_mapping[user.permission_level] }}</td>
            <td>
                <a href="{{ url_for('change_password', userid=user.id) }}" class="btn btn-warning">Passwort ändern</a>
                <a href="{{ url_for('change_permission', userid=user.id) }}" class="btn btn-info">Berechtigungen anpassen</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="collapse" id="addUser">
    <form method="post" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="username" class="form-label">Benutzername</label>
            {{ form.username(class="form-control", id="username") }}
            <div class="invalid-feedback">
                Bitte den Benutzernamen angeben
            </div>
        </div>
        <div class="mb-3">
            <label for="given_name" class="form-label">Vorname</label>
            {{ form.given_name(class="form-control", id="given_name") }}
            <div class="invalid-feedback">
                Bitte den Vornamen eingeben.
            </div>
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Nachname</label>
            {{ form.surname(class="form-control", id="surname") }}
            <div class="invalid-feedback">
                Bitte den Nachnamen eingeben.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Passwort</label>
            {{ form.password(class="form-control", id="password") }}
            <div class="invalid-feedback">
                Bitte das Passwort eingeben.
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Passwort wiederholen</label>
            {{ form.confirm_password(class="form-control", id="confirm_password", oninput="checkPasswordMatch()") }}
            <div class="invalid-feedback">
                Bitte das Passwort wiederholen.
            </div>
        </div>
        <div class="mb-3">
            <label for="permission_level" class="form-label">Berechtigungen</label>
            {{ form.permission_level(class="form-select", id="permission_level") }}
            <div class="invalid-feedback">
                Bitte Berechtigungsstufe angeben.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Nutzer anlegen</button>
    </form>
</div>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });

            var collapseElements = document.querySelectorAll('.collapse');
            collapseElements.forEach(function (collapse) {
                collapse.addEventListener('show.bs.collapse', function () {
                    collapseElements.forEach(function (otherCollapse) {
                        if (otherCollapse !== collapse) {
                            var bsCollapse = new bootstrap.Collapse(otherCollapse, {
                                toggle: false
                            });
                            bsCollapse.hide();
                        }
                    });
                });
            });
        }, false);
    })();

    function checkPasswordMatch() {
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirm_password').value;
        const password2Input = document.getElementById('confirm_password');
        if (password !== confirm_password) {
            password2Input.setCustomValidity('Passwords do not match');
        } else {
            password2Input.setCustomValidity('');
        }
    }
</script>
{% endblock %}